html, body {
  color: black;
  height: 100%;
  width: 100%;
  background-image:url("/images/river.jpg");
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

h1 span {
  font-size: .9em;
  text-transform: none;
}

.spotify {
  text-align: center;
}


/* Playlist Page */
#calendar { /* References the div col */
  border-right: 1px solid black;

}

#date {
  color: white;
}

#sidebar-wrapper {
  color: white;
}

#eventDesc {
  color: white;
  font-size: 1.1em;
  text-align: center;
  padding: .1em;
}

iframe {
  width: 1000px;
  height: 600px;
  margin: none;
  border: none;
}