html, body {
  color: black;
  height: 100%;
  width: 100%;
  background-image:url("/images/river.jpg");
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

h1 span {
  font-size: .9em;
  text-transform: none;
}

.spotify {
  text-align: center;
}


/* Playlist Page */
#calendar { /* References the div col */
  border-right: 1px solid black;

}

ul#calendarEvents {
  list-style-type: none;
  padding-left: 0;
}


#date {
  color: white;
  text-align: center;
}

#sidebar-wrapper {
  color: white;
}

.eventDesc {
  color: white;
}

div.other-content {
  width: 500px;
  margin: auto;
}

p.contentMsg {
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 5px;
  text-align: center;
  padding: .7em;
}

#successMsg {
  color: #004D2A;
  background-color: #AFD39D;
  /*background-color: #D0F8FF;*/
}

#errorMsg {
  color: red;
  background-color: #DDDFDC;
}


/* Spotify Playlist Stuff */
iframe {
  width: 1000px;
  height: 600px;
  margin: none;
  border: none;
}


/* Modal CSS */
h4#modal-event-name {
  color: black;
  font-weight: bold;
  font-family: 'Rockwell', 'Times';
}

p#modal-msg {
  color: black;
  font-size: 1.1em;

}